* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3e9d8;
    color: #3e2b20;
    font-family: Arial, sans-serif;
}

header {
    padding: 25px 8%;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    font-family: Georgia, serif;
    font-size: 30px;
}

.menu ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #3e2b20;
    font-size: 15px;
}

.menu a:hover {
    color: #8a5a3b;
}