* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3e9d8;
    color: #3e2b20;
    font-family: Arial, sans-serif;
}

header {
    padding: 25px 8%;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    font-family: Georgia, serif;
    font-size: 30px;
}

.menu ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #76523c;
    font-size: 14px;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #76523c;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    color: #84431a;
}

.subtitulo {
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    color: #4A403A;
    text-align: center;
}